#main{
	-fx-background-color: #EEE;
	-fx-hpos: center;
}

#root{
	-fx-background-color: #BBB;
	-fx-hpos: center;
}

#icon_button{
	-fx-font-face: 'FontAwesome';
	-fx-fill: red;
}

.text_button{
	
}

.task_box{
	-fx-font-size: 30;
}

.task_box:hover{
	-fx-effect: innershadow(gaussian, white, 64, 0, 0, 0);
}

.task_box:highlighted{
	-fx-background-color: blue;
}

#rank_text{
	-fx-fill: red;
}

#name_text{
	-fx-background-color: blue;
}

#date_text{
	-fx-background-color: green;
}