@font-face {
    src: url('../../res/font/fontawesome.ttf');
}

.root{
	-fx-background-color: #444444;
}

#icon_button{
	-fx-font-face: 'FontAwesome';
	-fx-fill: red;
}

.text_button{
	
}

#task_housing{
	-fx-background-color: grey;
	-fx-font-size: 30;
}

#rank_text{
	-fx-fill: red;
}

#name_text{
	-fx-background-color: blue;
}

#date_text{
	-fx-background-color: green;
}